In [1]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [7]:
multiline = """Facts about the Moon:
  There is no atmosphere.
  There is no sound."""
print(multiline)

Facts about the Moon:
  There is no atmosphere.
  There is no sound.

# Ejercicio 1: Transformar cadenas

Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

    Nota Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [3]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [4]:
orac=text.split(".")

In [7]:
orac

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']



Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [9]:
# Define las palabras pista: average, temperature y distance suenan bien
av="average"
t="temperature"
d="distance"



Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [12]:
for item in orac:
    if (av in item) :
        print(item)
    elif (t in item) :
        print(item)
    elif (d in item) :
        print(item)

On average, the Moon moves 4cm away from the Earth every year average
 The highest daylight temperature of the Moon is 127 C temperature



Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:

In [13]:
for item in orac:
    if (av in item) :
        print(item.replace('C','Celsius'))
    elif (t in item) :
        print(item.replace('C','Celsius'))
    elif (d in item) :
        print(item.replace('C','Celsius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

In [41]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 #km/s^2'
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [28]:
# Creamos el título
title='Gravity on '+planet+' and '+name.title()

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [45]:
gravityms = '1.62 m/s^2'

In [46]:
plantilla="""On the {0}, gravity has the value of {2}, 
... your weight is different on the {0} than your weight on {1}""".format(name, planet, gravityms)



Finalmente, usa ambas variables para unir el título y los hechos.

In [47]:
print(title+'\n'+plantilla)

Gravity on Earth and Moon
On the Moon, gravity has the value of 1.62 m/s^2,
your weight is different on the Moon than your weight on Earth

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra:

In [57]:
planet = 'Marte '
gravedad  = 0.00143
gravityms='1.43 m/s^2'
name = 'Ganímedes'

In [58]:
# Creamos el título
title='Gravity on '+planet+' and '+name.title()

In [59]:
plantilla="""On the {0}, gravity has the value of {2}, 
... your weight is different on the {0} than your weight on {1}""".format(name, planet, gravityms)

In [60]:
print(title+'\n'+plantilla)

Gravity on Marte  and Ganímedes
On the Ganímedes, gravity has the value of 1.43 m/s^2,
your weight is different on the Ganímedes than your weight on Marte